.idea
.sass-cache
.DS_Store
node_modules

app/dev/assets/js/generator.js
app/dev/assets/json/generator/*
app/dev/ejs/generator/*

docs/assets/js/generator.js
docs/assets/json/generator/*
docs/generator/*