<% var meta = {
                title:'CONCEPT',
                slug:'concept',
                path:'../'
              }; %><% include ../_common/_header %>

<div class="concept contents">
  <h1 class="pagetitle">CONCEPT</h1>

  <div class="concept-detail">
    <p>自作のカラージェネレータを使用して、<br class="pc">カラーパレットを作り記録しています。<br>
      色に触れ、楽しむこと<br>
      どんな色が好きなのか、あまり使わない色は何なのか・・・<br>
      自分の趣向を知ることが目的です。</p>

    <div class="concept-mockup">
      <figure class="concept-mockup-pc">
        <img src="<%= meta.path %>assets/images/concept/mockup_pc.png" alt="">
      </figure>
      <figure class="concept-mockup-sp">
        <img src="<%= meta.path %>assets/images/concept/mockup_sp.png" alt="">
      </figure>
    </div>
    <p>
      <small class="concept-mockup-notes">カラージェネレータ画面<br>スマホからもパレットを作成できます</small>
    </p>

    <p>色の選定は、書籍「<a href="https://www.amazon.co.jp/%E9%85%8D%E8%89%B2%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB-%E3%83%8F%E3%83%B3%E3%83%89%E3%83%96%E3%83%83%E3%82%AF-%E3%83%AD%E3%83%BC%E3%83%AC%E3%83%B3%E3%83%BB%E3%82%A6%E3%82%A7%E3%82%A4%E3%82%B8%E3%83%A3%E3%83%BC-%E7%B7%A8%E8%91%97/dp/480251087X" target="_blank">配色スタイル ハンドブック(ビー・エヌ・エヌ新社)</a>」を<br class="pc">参考にさせていただきました。<br class="pc">今後はトーン分類などから色を選べる形にしようと構想中です。</p>
  </div>

</div>

<% include ../_common/_footer %>