@charset "utf-8";

/*
header
------------------------------------------------*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  &-sitename{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1;
    @include mq-down(){
      font-size: 1.8rem;
    }
  }
  &-hamburger{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 28px;
    right: 25px;
    z-index: 999;
    &.-open{
      span{
        &:nth-child(1){
          animation: open-hamburger-bar01 .75s forwards;
        }
        &:nth-child(2){
          animation: open-hamburger-bar02 .75s forwards;
        }
      }
    }
    &.-close{
      span{
        &:nth-child(1){
          animation: close-hamburger-bar01 .75s forwards;
        }
        &:nth-child(2){
          animation: close-hamburger-bar02 .75s forwards;
        }
      }
    }
    &:hover{
      cursor: pointer;
    }
    span{
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background: $color-black;
      right: 0;
      transition: .35s cubic-bezier(0.5, 0, 0, 1);
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 18px;
        width: 20px;
      }
    }
  }
  &-nav{
    transform: translateY(-200%);
    transition: all cubic-bezier(0.5, 0, 0, 1) 0.8s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &.-open{
      transform: translateY(0);
    }
    &-list{
      position: fixed;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      max-width: 540px;
      margin: 0 auto;
      z-index: 99;
      @include mq-down(){
        max-width: 300px;
      }
    }
    &-item{
      width: 180px;
      height: 180px;
      color: #fff;
      font-weight: bold;
      font-size: 1.8rem;
      //letter-spacing: 0.1rem;
      text-align: center;
      //opacity: 0;
      //transition: opacity ease 0s 0.8s;
      @include mq-down(){
        width: 100px;
        height: 100px;
        font-size: 1.1rem;
      }
      a, & > span{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      img{
        max-width: 120px;
        @include mq-down(){
          max-width: 70px;
        }
      }
      &.-square01{
        background: #6a6d6f;
      }
      &.-square02{
        background: #afb0b3;
      }
      &.-square03{
        background: #efeef0;
      }
      &.-square04{
        background: #afb0b3;
      }
      &.-square05{
        background: #46464f;
      }
      &.-square06{
        background: #cac9cb;
      }
      &.-square07{
        background: #efeef0;
      }
      &.-square08{
        background: #cac9cb;
      }
      &.-square09{
        background: #6a6d6f;
      }
    }
  }
  &-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 9;
    &:hover{
      cursor: pointer;
    }
  }
}

@keyframes close-hamburger-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes open-hamburger-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}

@keyframes close-hamburger-bar02 {
  0% {
    transform: translateY(0) rotate(0);
    width:40px;
  }
  50% {
    transform: translateY(-9px) rotate(0);
    width:40px;
  }
  100% {
    transform: translateY(0) rotate(0);
    width: 20px;
  }
}

@keyframes open-hamburger-bar02 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-9px) rotate(0);
    width:40px;
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
    width:40px;
  }
}
