<% include _head %>
<div class="wrapper">

  <header class="header">
    <p class="header-sitename"><a href="<%= meta.path %>">COLOR<br>PALETTE</a></p>
    <div class="header-hamburger" id="header-hamburger">
      <span></span>
      <span></span>
    </div>
    <nav class="header-nav" id="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item -square01"></li>
        <li class="header-nav-item -square02"><a href="<%= meta.path %>"><span>ARCHIVE</span></a></li>
        <li class="header-nav-item -square03"></li>
        <li class="header-nav-item -square04"><span><span>GENERATOR<br><small>coming soon</small></span></span></li>
        <li class="header-nav-item -square05"></li>
        <li class="header-nav-item -square06"></li>
        <li class="header-nav-item -square07"></li>
        <li class="header-nav-item -square08"></li>
        <li class="header-nav-item -square09"><a href="<%= meta.path %>concept/"><span>CONCEPT</span></a></li>
      </ul>
      <div class="header-overlay" id="header-overlay"></div>
    </nav>
  </header>

  <main class="main">