<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="<%= meta.path %>assets/lib/js/jquery.easing.1.3.js"></script>
<script src="<%= meta.path %>assets/lib/js/Sortable.min.js"></script>
<script src="<%= meta.path %>assets/js/scripts.js"></script>
<% if(meta.slug == "generator"){ %><script src="<%= meta.path %>assets/js/generator.js"></script><% } %>
</body>
</html>